[submodule "packages/lightning-fs"]
	path = packages/lightning-fs
	url = git@github.com:codexfield/lightning-fs.git
[submodule "packages/isomorphic-git"]
	path = packages/isomorphic-git
	url = git@github.com:codexfield/isomorphic-git.git
